{% extends "student_base.html" %}

{% block title %}
Change Password for profile
{% endblock %}

{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<form action="#" method="post">
    <table
        id="myTable"
        width="50%"
        cellpadding="5"
        cellspacing="5"
    >
        <tbody>
            <tr>
                <th>Old Password</th>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="old_pass"
                        placeholder="Old Password"
                        value=""
                        required=""
                    >
                </td>
            </tr>
            <tr>
                <th>Enter New Password twice</th>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="new_pass1"
                        placeholder="New Password"
                        value=""
                    >
                </td>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="new_pass2"
                        placeholder="New Password again"
                        value=""
                    >
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
        <button
            type="submit"
            name="change_password"
            class="btn btn-info"
            value="Update_Student"
            style="width:50%;margin:10px;"
        >Change Password</button>
        <button
            type="reset"
            name="reset"
            class="btn btn-warning"
            value="Reset_Form"
            style="width:50%"
        >Reset Data</button>
    </center>
</form>
</div>
{% endblock %}
