{% extends "base.html" %}

{% block title %}
Edit Question
{% endblock %}

{% block content %}
<form action="#" method="post">
    <table
        id="myTable"
        width="100%"
        cellpadding="5"
        cellspacing="5"
    >
        <tbody>
            <tr>
                <td>
                    <label for="1st">Test Name</label>
                </td>
                <td colspan="2">
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="test"
                        placeholder="Eg A B C D"
                        value="{{question['test']}}"
                        readonly=""
                    >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="1st">Question Type</label>
                </td>
                <td colspan="2">
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="test"
                        placeholder="Eg A B C D"
                        value="{{question['type']}}"
                        readonly=""
                    >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Question">Question</label>
                </td>
                <td colspan="2">
                    <textarea
                        rows="5"
                        cols="80"
                        name="name"
                        placeholder="Enter Question Here"
                    >{{question['name']}}</textarea>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="1st">Enter Options</label>
                </td>
                <td colspan="2">
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="options"
                        placeholder="Eg A B C D"
                        value="{{question['options']}}"
                    >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="1st">Answer</label>
                </td>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="answer"
                        placeholder="Answer"
                        value="{{question['answer']}}"
                    >
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
        <button
            type="submit"
            name="update"
            class="btn btn-info"
            value="Update_Student"
            style="width:50%;margin:10px;"
        >Edit Question</button>
        <button
            type="reset"
            name="reset"
            class="btn btn-warning"
            value="Reset_Form"
            style="width:50%"
        >Reset Data</button>
    </center>
</form>
</div>
{% endblock %}
