{% extends "base.html" %}

{% block title %}
Edit {{subject['name']}} Subject
{% endblock %}

{% block content %}
<form action="#" method="post">
    <table
        id="myTable"
        width="100%"
        cellpadding="5"
        cellspacing="5"
    >
        <tbody>
            <tr>
                <td>
                    <label for="level">Enter New Subject Name</label>
                </td>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        id="usr"
                        name="name"
                        placeholder="subject"
                        value="{{subject['name']}}"
                    >
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
        <button
            type="submit"
            name="update"
            class="btn btn-info"
            value="Update"
            style="width:50%;margin:10px;"
        >Update Subject</button>
        <button
            type="reset"
            name="reset"
            class="btn btn-warning"
            value="Reset"
            style="width:50%"
        >Reset Data</button>
    </center>
</form>
</div>
{% endblock %}
