<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="OMAS,oma's,omas abacus,OMAS abacus,omas edu,omas education,omas abacus,Shyam Desai,Shyam Desai's abacus,abacus course,child courses">
        <meta name="description" content="OMAS Education is the One of the top growing education sociaty in Nanded, state. - Maharashtra,
        India. OMAS EDUCATION is Directed by Mr. Shyam Desai, Which Will Provides Quility Education of Abacus, Vaidik Math, Competetive, Tally, General knowladge and etc..,
        Contact us and Confirm your Admission Here...! Hurry Up Admissions Are Open..!">
        <meta name="title" content="OMAS EDUCATION | Abacus & Vaidik Math Training Center Institute Based at Nanded, Abacus & Vaidik Math Course Franchise Provider, Omas Education is Directed by Mr. Shyam Desai.">
        <title>OMAS EDUCATION | Abacus & Vaidik Math Training Center Institute Based at Nanded, Abacus & Vaidik Math Course Franchise Provider, Omas Education is Directed by Mr. Shyam Desai.</title>
        <link rel="icon" href="images/icon.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!--For Fonts css-->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!--Theme custom css -->
        <link rel="stylesheet" href="css/style.css">
        <!--Theme Responsive css-->
        <link rel="stylesheet" href="css/responsive.css">
        <style>
            .navbar-brand{
                padding:0px;
            }
        </style>
    </head>
    <body data-spy="scroll" data-target="#main-navbar">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
        <div id="menubar" class="main-menu">	
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo-nav.png" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="scroll" class="active"><a href="#home">Home<span class="sr-only">(current)</span></a></li>
                            <li class="scroll"><a href="#our-courses">Cources</a></li>
                            <li class="scroll"><a href="#works-area">Process</a></li>
                            <li class="scroll"><a href="#our-feature">Features</a></li>
                            <li class="scroll"><a href="#about-us">About Us</a></li>
                            <li class="scroll"><a href="#footer">Contact Us</a></li>
                            <li class="scroll"><a href="student_login.php.html" class="btn btn-warning">Login</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--Home page style-->
        <header id="home" class="sections">
            <div class="container">
                <div class="row">
                    <div class="homepage-style">

                        <div class="top-arrow hidden-xs text-center"><img src="images/top-arrow.png" alt=""></div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="unique-apps">
                                <h2>OMAS EDUCATION<br>TRAINING INSTITUTE </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. 
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. 
                                </p>

                                <div class="home-btn"><button class="btn btn-primary">View More <span><i class="fa fa-paper-plane"></i></span></button></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="slider-area">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">

                                        <div class="item active">
                                            <img src="images/slider/slider-img1.png" alt="">
                                        </div>

                                        <div class="item">
                                            <img src="images/slider/slider-img2.png" alt="">
                                        </div>

                                        <div class="item">
                                            <img src="images/slider/slider-img3.png" alt="">
                                        </div>

                                        <div class="item">
                                            <img src="images/slider/slider-img4.png" alt="">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>	
                </div>

            </div>

        </header>

        <!-- Sections -->
        <section id="our-courses" class="sections">
            <div class="container">

                <div class="row">
                    <div class="heading">
                        <div class="title text-center arrow-right">
                            <h4 class="">COURSES OFFERED </h4>
                            <img class="hidden-xs" src="images/right-arrow.png" alt="">

                        </div>
                    </div>	


                    <!-- Example row of columns -->

                    <div class="portfolio-wrap">

                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="images/abacus.png" alt="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>ABACUS</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>

                        </div>


                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>VAIDIK MATH</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="images/vedik.png" alt="">
                            </div>

                        </div>


                        <div class="portfolio">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="images/compet.png" alt="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>COMPETITIVE</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>GENERAL KNOWLADGE</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="images/gk.png" alt="">
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <!-- /container -->       
        </section>

        <section id="works-area" class="sections">
            <div class="container text-center">

                <div class="heading">
                    <div class="title text-center arrow-left">
                        <img class="hidden-xs" src="images/left-arrow.png" alt="">

                        <h4 class="">HOW WE WORKS </h4>
                    </div>
                </div>	

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="main-works">
                            <img src="images/map.png" alt="">
                        </div>
                    </div>
                </div>	
            </div>
        </section>

        <section id="our-feature" class="sections">
            <div class="container">
                <div class="heading">
                    <div class="title text-center arrow-left">
                        <img class="hidden-xs" src="images/left-arrow.png" alt="">

                        <h4 class="">Our Features</h4>
                    </div>
                </div>

                <div class="feature-wrapper">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content active"> 
                                <h4><i class="fa fa-database"></i><span>QUALITY EDUCATION</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>STUDY MATERIAL</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>ONE TO ONE STUDY</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>ONLINE RECORD</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>ONLINE ERA</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>ONLINE EXAM</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>LOW COST FACILTY</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>WE CARE FOR ALL</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>LEARN AND EARN</span></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                            </div>
                        </div>
                    </div>	
                </div>		
            </div>


        </section>

        <section id="about-us" class="sections">
            <div class="container">

                <div class="row">

                    <div class="main-history">

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-img">
                                <img src="images/history-img.png" alt="">
                            </div>
                        </div>



                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-wrapper">
                                <div class="history-heading"> 
                                    <h5 class="our-history">About Us</h5>
                                </div>

                                <div class="history-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat.
                                    </p>

                                    <div class="hst-btn"><button class="btn btn-primary">BROWSE OUR HISTORY</button></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-team" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">
                        <img class="hidden-xs" src="images/left-arrow.png" alt="">

                        <h4 class="">Our Team Members</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid project-bg">
                <div class="row">

                    <div class="main-team text-center">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">

                                <img class="img-circle" src="images/team/1.png" alt="">
                                <h5>SHYAM DESAI</h5>
                                <p>DIRECTOR</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img class="img-circle" src="images/team/2.png" alt="">
                                <h5>SAVITA DESAI</h5>
                                <p>MANAGING DIRECTOR</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img class="img-circle" src="images/team/1.png" alt="">
                                <h5>SHAILESH PATIL</h5>
                                <p>MARKETING HEAD</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img class="img-circle" src="images/team/4.png" alt="">
                                <h5>OMESH DESAI</h5>
                                <p>FACULTY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-supports" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">

                        <h4 class="">LEARN, STUDY & ENJOY</h4>
                        <img class="hidden-xs" src="images/right-arrow.png" alt="">
                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="row">


                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                            </p>
                            <div class="spt-btn"><button class="btn btn-primary">SUPPORT CENTER</button></div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-img"><img class="img-responsive" src="images/support-pic.png" alt=""></div>
                    </div>


                </div>

            </div> <!-- /container -->       
        </section>

        <section id="hire-us" class="sections">

            <div class="container">

                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="hire-content">
                            <div class="img-overlay">

                                <div class="creative-works">
                                    <h3>WANT TO GET FRANCHISE ?</h3>
                                    <button class="btn hire-btn btn-primary">JOIN US</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div> <!-- /container -->  

        </section>

        <div class="scroll-top">

            <div class="scrollup">
                <i class="fa fa-angle-double-up"></i>
            </div>

        </div>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">

                <div class="row">
                
                    <div class="col-md-6">
                        <div class="main-footer">
                            <div id="map" style="width:100%;height:300px;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="socio-copyright">
                            <div class="social">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div><br>
                        <div class="main-footer">
                            <div class="footer-item">
                                <h2><b>CONTACT</b></h2>
                                <ul>
                                    <li><b>CEO & Director</b> : Shyam Desai</li>
                                    <li><b>Contact no.</b> : 8482882781 / 9764556085</li>
                                    <li><b>Email Id</b> : omaabacus@gmail.com</li>
                                    <li><b>Address</b> : Bachewar Complex,Ganesh nagar, Nanded.</li>
                                </ul>
                            </div>
                        </div><br><br>
                        <div class="dev-by">
                            <p>&copy OMAS ABACUS Developed by <a target="_blank" href="http://www.dreamwebies.com" title="Dream Webies pvt. ltd."><img src="images/dw.png"></a> 2023.</p>
                        </div>
                    </div>
                </div>	
            </div>
        </footer>

    <script>
      function initMap() {
        var uluru = {lat: 19.175556, lng: 77.304649};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <script async="" defer="" src="maps/api/js?key=AIzaSyC7CoNb85riO0g8OzTmeReGa-bWg_w879I&callback=initMap" type="text/javascript"></script>
    </body>
</html>
