{% extends "base.html" %}

{% block title %}Questions Registered On The System
{% endblock %}
{% block content %}

{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Test Name</th>
            <th scope="col">Question Type</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
            <th scope="col">Answer</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if questions %}
        {% set export = "show" %}
        {% for question in questions %}
        <tr role="row" class="odd">
            <td data-title="Test Name">{{question['test']}}</td>
            <td data-title="Question Type" class="sorting_1">{{question['type']}}</td>
            <td data-title="Name">{{question['name']}}</td>
            <td data-title="Options">{{question['options']}}</td>
            <td data-title="Answer">{{question['answer']}}</td>
            <form action="" method="post">
                <td data-title="Edit">
                    <button
                        class="btn editbtn"
                        name="edit"
                        value="{{question['name']}}"
                        type="submit"
                    >Edit</button>
                </td>
                <td data-title="Delete">
                    <button
                        class="btn delbtn"
                        id="delStud"
                        name="delete"
                        value="{{question['name']}}"
                        type="submit"
                    >Delete</button>
                </td>
            </form>
        </tr>
        {% endfor %}
            {% else %}
        <tr role="row" class="odd">
            <td colspan="8">
                <center>
                    <h4 class="page-header">No Question Data Found!</h4>
                </center>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br>
{% if export %}
<center>
    <button id="btnExport" class="btn btn-info" style="width:50%;padding:10px">Export data</button>
</center>
{% endif %}
</div>
{% endblock %}
